.results {
  width: min(100vw - 4rem, 1260px);
  margin-inline: auto;
  margin-block: 2rem;
}

.results__none {
  text-align: center;
}

.results__grid {
  display: grid;
  column-gap: 1.5rem;
  row-gap: 2rem;
  width: 100%;
  padding: 0;
  grid-template-columns: repeat(auto-fit, minmax(min(100%, 25rem), 1fr));
}
